/************************************************************/
@font-face {
    font-family: 'siddhanta';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/siddhanta.ttf) format('truetype');
}

@font-face {
    font-family: 'Adishila';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Adishila.ttf) format('truetype');
}

@font-face {
    font-family: 'NotoSansDevanagari-Regular';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/NotoSansDevanagari-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'NotoSansKannada-Regular';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/NotoSansKannada-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'NotoSansTelugu-Regular';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/NotoSansTelugu-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'NotoSansTamil-Regular';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/NotoSansTamil-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'NotoSansMalayalam-Regular';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/NotoSansMalayalam-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'NotoSansOriya-Regular';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/NotoSansOriya-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'NotoSansBengali-Regular';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/NotoSansBengali-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'NotoSansGujarati-Regular';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/NotoSansGujarati-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'NotoSansGurmukhi-Regular';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/NotoSansGurmukhi-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'NotoSansBrahmi-Regular';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/NotoSansBrahmi-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'NotoSerifTibetan-Medium';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/NotoSerifTibetan-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Sampradaya';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/SampradayaGrantha.ttf) format('truetype');
}
@font-face {
    font-family: 'satisarSharada';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/satisarSharada.ttf) format('truetype');
}
/************************************************************/

body {
    font-family: 'siddhanta', 'NotoSansDevanagari-Regular', 'NotoSansKannada-Regular', 'NotoSansTelugu-Regular', 'NotoSansTamil-Regular', 'NotoSansMalayalam-Regular', 'NotoSansOriya-Regular', 'NotoSansBengali-Regular', 'satisarSharada', 'Sampradaya', 'NotoSansGujarati-Regular', 'NotoSansGurmukhi-Regular', 'NotoSerifTibetan-Medium', 'NotoSansBrahmi-Regular', serif;
}


code {
    font-size: 100%;
}

main details {
    margin: 3px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

main summary {
    border-bottom: 1px dashed black;
    font-size: 90%;
    font-weight: bold;
    font-style: italic;
    color: black;
}

.inline_comment {
    font-size: 80%;
    color: rgb(114, 47, 55);
    font-style: italic;
    vertical-align: sub;
}

h1 {
    font-size: 160%; /* 120% of body font size */
    line-height: 100%;
}
h2 {
    font-size: 150%; /* 120% of body font size */
    line-height: 100%;
}
h3 {
    font-size: 140%; /* 120% of body font size */
    line-height: 100%;
}
h4 {
    font-size: 130%; /* 120% of body font size */
    line-height: 100%;
}
h5 {
    font-size: 120%; /* 120% of body font size */
    line-height: 100%;
}
h6 {
    font-size: 110%; /* 120% of body font size */
    line-height: 100%;
}

details.headingDetail > summary {
    line-height: 100%;
}
/************************************************************/
