[submodule "jyotisha/panchaanga/temporal/festival/data"]
	path = jyotisha/panchaanga/temporal/festival/data
	url = https://github.com/sanskrit-coders/adyatithi.git
	update = merge
	branch = master
[submodule "hugo-source/themes/sanskrit-documentation-theme-hugo"]
	path = hugo-source/themes/sanskrit-documentation-theme-hugo
	url = https://github.com/sanskrit-coders/sanskrit-documentation-theme-hugo.git
	update = merge
	branch = master
[submodule "hugo-source/content"]
	path = hugo-source/content/output
	url = https://github.com/jyotisham/jyotisha.git
	branch = generated-output
