# Include the license file
include LICENSE.txt

# Include the data files
recursive-include jyotisha/panchangam/temporal/festival/data *
recursive-include jyotisha/names/data *
recursive-include jyotisha/panchangam/data *
