pyswisseph==2.8.0.post1
astropy
scipy
pandas
sanskrit_data
doc-curation
indic_transliteration
icalendar
convertdate
pytz
geocoder
geopy
numpy
# Flask
flask_restplus
flask_cors
jsonpickle
methodtools
Werkzeug
jyotisha
timebudget
Flask
pypandoc==1.7.5
setuptools
python-telegram-bot
