pyswisseph==2.8.0.post1
astropy
scipy
pandas
sanskrit_data
doc-curation==0.1.6
indic_transliteration
icalendar
convertdate
pytz
geocoder
geopy
numpy
# Flask
flask_restplus
flask_cors
jsonpickle
methodtools
Werkzeug
jyotisha
timebudget
Flask
pypandoc
setuptools
python-telegram-bot
