pyswisseph==2.10.3.2
astropy
scipy
pandas
sanskrit_data
doc-curation
indic_transliteration
icalendar
convertdate
pytz
geocoder
geopy
numpy
# Flask
flask_restplus
flask_cors
jsonpickle
methodtools
Werkzeug
timebudget
Flask
pypandoc
setuptools
python-telegram-bot
discord.py
