# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Generate panchAngas

on:
  schedule:
    - cron: '0 20 31 12 *'
      # minute (0 - 59) hour (0 - 23) day of the month (1 - 31) month (1 - 12) day of the week (0 - 6) UTC
      # Above is 1:30 AM IST on 1st Jan.
      # The below is for debugging.
#    - cron: '15 * * * *'
#    - cron: '30 * * * *'
#    - cron: '45 * * * *'
#    - cron: '0 * * * *'
  workflow_dispatch:
    inputs:
      logLevel:
        default: 'warning'

jobs:
  run_bots:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6]
#         python-version: [3.5, 3.6, 3.7, 3.8]
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'true'
        fetch-depth: 1 # Because of this, you will fail to push refs to dest repo
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install git+https://github.com/astrorigin/pyswisseph@master -U
#        python -m pip install git+https://github.com/astropy/astropy@master -U
    - name: Build package
      run: |
        python -m pip install .
    - name: Regenerate calendars
      run: |
        python -m "jyotisha.panchaanga.writer.generation_project"
    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: "0.72.0"
    - name: Build hugo site pages
      run: |
        cd hugo-source
        rm -rf build_github
        hugo
        cd ..
    # MD files are useful for certain bots.
    - name: Deploy md
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: generated-output
        FOLDER: ./hugo-source/content/output
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Deploy html
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./hugo-source/build_github
